$primary-brand-color: #ffd800;
$primary-white: #ffffff;
$primary-black: #000000;
$primary-white-alpha: #ffffff99;
$primary-black-alpha: #00000099;
$transition-duration-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
